version: 2.1

jobs:
  install:
    docker:
      - image: cimg/node:22.0
    working_directory: ~/project
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - persist_to_workspace:
          root: ~/project
          paths:
            - node_modules
            - .

  lint:
    docker:
      - image: cimg/node:22.0
    working_directory: ~/project
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Lint code
          command: npm run lint

  test:
    docker:
      - image: cimg/node:22.0
    working_directory: ~/project
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Run Jest tests
          command: npm test

  build:
    docker:
      - image: cimg/node:22.0
    working_directory: ~/project
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Build project
          command: npm run build
      - persist_to_workspace:
          root: ~/project
          paths:
            - build
            - dist

  trigger_webhook:
    docker:
      - image: cimg/base:stable
    working_directory: ~/project
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Trigger Power Automate Webhook
          when: always
          command: |
            echo "Triggering Power Automate webhook..."
            curl -X POST -s -o /dev/null -w "%{http_code}" \
              "https://default585a4d92db1d4bbbb5acc5299e3894.e3.environment.api.powerplatform.com/powerautomate/automations/direct/workflows/fb222fd4e1d04ff8a1a6d444439d0dc4/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=PyOLJhpm9RxhKuCjwgpNRZl4cX-VGg1aBXtKLM0VELs" \
              || true

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - install
      - lint:
          requires:
            - install
      - test:
          requires:
            - lint
      - build:
          requires:
            - test
      - trigger_webhook:
          requires:
            - build
          filters:
            branches:
              only: /.*/
